<a href="https://colab.research.google.com/github/HusseinWaleed1/lab1/blob/main/tastk1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
num1=3
num2=4
num3=5
print(num1+num2)
print('*'*45)
print(num3-num1)
print('*'*45)
print(num1*(num2+num3))
print('*'*45)
print(num3/num1)
print('*'*45)
print(num3//num1)
print('*'*45)
print(num3 % num1)
print('*'*45)
#change the variable to float
print('change the variable to float ')
print(float(num1))
print(float(num2))
print(float(num3))

7
*********************************************
2
*********************************************
27
*********************************************
1.6666666666666667
*********************************************
1
*********************************************
2
*********************************************
change the variable to float
3.0
4.0
5.0

In [7]:
x,y,z,g=1,2,3,4
print(x+y*z/g)
print('*'*45)
print(y**z)

2.5
*********************************************
8

Odd or Even
Write a program that asks the user for a number and prints whether it’s odd or even.

Pass or Fail
Input a student’s score (0–100) and print "Pass" if it’s ≥ 50, else "Fail".

Largest of 3 numbers
Take 3 numbers as input and print the larger one.

Counting with for
Use a for loop to print numbers from 1 to 10.


Grade Calculator
Input a score and use if / elif / else to print a grade:
• A: 90–100
• B: 80–89
• C: 70–79
• D: 60–69
• F: below 60

Multiplication Table
Ask the user for a number and print its multiplication table from 1 to 10 using a for loop.

Sum of Even Numbers
Use a loop to find the sum of all even numbers between 1 and 50.

Factorial with while
Ask the user for a number and calculate its factorial using a while loop.

In [14]:
#Odd or Even Write a program that asks the user for a number and prints whether it’s odd or even.
num=int(input('please Enter a Number'))
if(num %2 == 0):
  print(f'{num} is Even')
else:
  print(f'{num} is Odd')

please Enter a Number10
10 is Even

Pass or Fail Input a student’s score (0–100) and print "Pass" if it’s ≥ 50, else "Fail".

In [15]:
student_score=int(input('please Enter Your Score'))
if(student_score >= 50):
  print('pass')
else:
  print('fail')

please Enter Your Score50
pass

Largest of 3 numbers Take 3 numbers as input and print the larger one

In [18]:
n1 = 40
n2 = 56
n3 = 80

if n1 >= n2 and n1 >= n3:
    print(f'{n1} is the largest number')
elif n2 >= n1 and n2 >= n3:
    print(f'{n2} is the largest number')
else:
    print(f'{n3} is the largest number')

80 is the largest number

Counting with for Use a for loop to print numbers from 1 to 10

In [20]:
i=0
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Grade Calculator Input a score and use if / elif / else to print a grade: • A: 90–100 • B: 80–89 • C: 70–79 • D: 60–69 • F: below 60

In [22]:
grade=int(input('please enter your grade'))
if(grade <= 100 and grade >=90):
  print('The grade is A')
elif(grade <= 89 and grade >=80):
  print('The grade is B')
elif(grade <= 79 and grade >=70):
  print('The grade is C')
elif(grade <= 69 and grade >=60):
  print('The grade is D' )
else:
  print('The grade is F')

please enter your grade65
The grade is D

In [23]:
num = int(input("Enter a number: "))

for i in range(1, 11):
    print(f"{num} x {i} = {num * i}")

Enter a number: 1
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

In [24]:
total = 0
for i in range(2, 51, 2):
    total += i

print("Sum of even numbers between 1 and 50:", total)

Sum of even numbers between 1 and 50: 650

In [25]:
num = int(input("Enter a number: "))
factorial = 1
i = 1

while i <= num:
    factorial *= i
    i += 1

print(f"Factorial of {num} is {factorial}")

Enter a number: 2
Factorial of 2 is 2